hostname Bumble-2
no ip domain lookup
ipv6 unicast-routing
interface GigabitEthernet0/0/0
 ip address 20.1.0.2 255.255.255.0
 ip router isis bumble
 negotiation auto
 ipv6 address B2::2/64
 ipv6 router isis bumble
interface GigabitEthernet0/0/1
 ip address 20.2.0.1 255.255.255.0
 ip router isis bumble
 negotiation auto
 ipv6 address B3::1/64
 ipv6 router isis bumble
interface GigabitEthernet0
 vrf forwarding Mgmt-intf
 no ip address
 shutdown
 negotiation auto
router isis bumble
 net 49.0012.0000.0000.0002.00
 metric-style wide
 redistribute connected metric 5 level-1
 address-family ipv6
  redistribute connected metric 5 level-1
 exit-address-family
ip forward-protocol nd
ip http server
ip http authentication local
ip http secure-server
ip tftp source-interface GigabitEthernet0

control-plane
banner motd ^CUnauthorized access is lowk illegal^C
line con 0
 transport input none
 stopbits 1
line aux 0
 stopbits 1
line vty 0 4
 login
end
