hostname Bumble-3
no ip domain lookup
ipv6 unicast-routing
interface GigabitEthernet0/0/0
 ip address 20.3.0.2 255.255.255.0
 negotiation auto
 ipv6 address B4::2/64
interface GigabitEthernet0/0/1
 ip address 20.2.0.2 255.255.255.0
 ip router isis bumble
 negotiation auto
 ipv6 address B3::2/64
 ipv6 router isis bumble
interface Serial0/1/0
 no ip address
 shutdown
interface Serial0/1/1
 no ip address
 shutdown
interface GigabitEthernet0
 vrf forwarding Mgmt-intf
 no ip address
 shutdown
 negotiation auto
router isis bumble
 net 49.0012.0000.0000.0003.00
 metric-style wide
 redistribute connected metric 10 level-1
 redistribute bgp 2 metric 10 level-1
 address-family ipv6
  redistribute connected metric 10 level-1
  redistribute bgp 2 metric 10 level-1
 exit-address-family
router bgp 2
 bgp log-neighbor-changes
 neighbor B2::1 remote-as 2
 neighbor B4::1 remote-as 3
 neighbor 20.1.0.1 remote-as 2
 neighbor 20.3.0.1 remote-as 3
 address-family ipv4
  redistribute connected metric 10
  redistribute isis bumble level-2 metric 10
  no neighbor B2::1 activate
  no neighbor B4::1 activate
  neighbor 20.1.0.1 activate
  neighbor 20.1.0.1 route-map FIX-IBGP in
  neighbor 20.3.0.1 activate
  distance bgp 10 10 10
 exit-address-family
 address-family ipv6
  redistribute connected metric 10
  redistribute isis bumble metric 10 level-2
  neighbor B2::1 activate
  neighbor B2::1 route-map FIX-IBGP6 in
  neighbor B4::1 activate
  distance bgp 10 10 10
 exit-address-family
ip forward-protocol nd
ip http server
ip http authentication local
ip http secure-server
ip tftp source-interface GigabitEthernet0
ip prefix-list FIX-IBGP seq 5 deny 20.1.0.0/24
ip prefix-list FIX-IBGP seq 10 permit 0.0.0.0/0 le 32
ipv6 prefix-list FIX-IBGP6 seq 1 deny B2::/64
ipv6 prefix-list FIX-IBGP6 seq 2 permit ::/0 le 128
route-map FIX-IBGP6 permit 10
 match ipv6 address prefix-list FIX-IBGP6
route-map FIX-IBGP permit 10
 match ip address prefix-list FIX-IBGP
control-plane
banner motd ^CUnauthorized access is lowk illegal^C
line con 0
 transport input none
 stopbits 1
line aux 0
 stopbits 1
line vty 0 4
 login
end
