hostname Bumble-1
no ip domain lookup
ipv6 unicast-routing
interface GigabitEthernet0/0/0
 ip address 20.0.0.2 255.255.255.0
 negotiation auto
 ipv6 address B1::2/64
interface GigabitEthernet0/0/1
 ip address 20.1.0.1 255.255.255.0
 ip router isis bumble
 negotiation auto
 ipv6 address B2::1/64
 ipv6 router isis bumble
interface GigabitEthernet0
 vrf forwarding Mgmt-intf
 no ip address
 shutdown
 negotiation auto
router isis bumble
 net 49.0012.0000.0000.0001.00
 metric-style wide
 redistribute connected metric 10 level-1
 redistribute bgp 2 metric 10 level-1
 address-family ipv6
  redistribute connected metric 10 level-1
  redistribute bgp 2 metric 10 level-1
 exit-address-family
router bgp 2
 bgp log-neighbor-changes
 neighbor B1::1 remote-as 1
 neighbor B3::2 remote-as 2
 neighbor 20.0.0.1 remote-as 1
 neighbor 20.2.0.2 remote-as 2
 address-family ipv4
  network 20.0.0.0 mask 255.255.255.0
  redistribute connected metric 10
  redistribute isis bumble level-1 metric 10
  no neighbor B1::1 activate
  no neighbor B3::2 activate
  neighbor 20.0.0.1 activate
  neighbor 20.2.0.2 activate
  neighbor 20.2.0.2 route-map FIX-IBGP in
  distance bgp 10 10 10
 exit-address-family
 address-family ipv6
  redistribute connected metric 10
  redistribute isis bumble metric 10 level-2
  distance bgp 30 30 30
  network B1::/64
  neighbor B1::1 activate
  neighbor B3::2 activate
  neighbor B3::2 route-map FIX-IBGP6 in
 exit-address-family
ip forward-protocol nd
ip http server
ip http authentication local
ip http secure-server
ip tftp source-interface GigabitEthernet0
ip prefix-list FIX-IBGP seq 5 deny 20.2.0.0/24
ip prefix-list FIX-IBGP seq 10 permit 0.0.0.0/0 le 32
ipv6 prefix-list FIX-IBGP6 seq 1 deny B3::/64
ipv6 prefix-list FIX-IBGP6 seq 2 permit ::/0 le 128
route-map FIX-IBGP6 permit 10
 match ipv6 address prefix-list FIX-IBGP6
route-map FIX-IBGP permit 10
 match ip address prefix-list FIX-IBGP
control-plane
banner motd ^CUnauthorized access is lowk illegal^C
line con 0
 transport input none
 stopbits 1
line aux 0
 stopbits 1
line vty 0 4
 login
end
