hostname Optimus-2
no ip domain lookup
ip dhcp excluded-address 10.1.0.1
ip dhcp pool OPTIMUS
 network 10.1.0.0 255.255.255.0
 default-router 10.1.0.1
ipv6 unicast-routing
ipv6 dhcp pool OPTIMUS6
 address prefix A2::/64 lifetime infinite infinite
interface GigabitEthernet0/0/0
 ip address 10.0.0.2 255.255.255.0
 ip ospf 1 area 0
 negotiation auto
 ipv6 address A1::2/64
 ipv6 ospf 1 area 0
interface GigabitEthernet0/0/1
 ip address 10.1.0.1 255.255.255.0
 ip ospf 1 area 0
 negotiation auto
 ipv6 address A2::1/64
 ipv6 dhcp server OPTIMUS6
 ipv6 ospf 1 area 0
interface Serial0/1/0
 no ip address
interface Serial0/1/1
 no ip address
interface GigabitEthernet0/2/0
 no ip address
 shutdown
 negotiation auto
interface GigabitEthernet0/2/1
 no ip address
 shutdown
 negotiation auto
interface GigabitEthernet0
 vrf forwarding Mgmt-intf
 no ip address
 shutdown
 negotiation auto
router ospf 1
 router-id 1.1.1.2
ip forward-protocol nd
ip http server
ip http authentication local
ip http secure-server
ip tftp source-interface GigabitEthernet0
ipv6 router ospf 1
 router-id 1.1.1.2
control-plane
banner motd ^CUnauthorized access is lowk illegal^C
line con 0
 transport input none
 stopbits 1
line aux 0
 stopbits 1
line vty 0 4
 login
end
