hostname Prime-2
no ip domain lookup
ip dhcp excluded-address 30.1.0.1
ip dhcp pool PRIME
 network 30.1.0.0 255.255.255.0
 default-router 30.1.0.1
ipv6 unicast-routing
ipv6 dhcp pool PRIME6
 address prefix C2::/64 lifetime infinite infinite
interface GigabitEthernet0/0/0
 ip address 30.1.0.1 255.255.255.0
 negotiation auto
 ipv6 address C2::1/64
 ipv6 eigrp 1
 ipv6 dhcp server PRIME6
interface GigabitEthernet0/0/1
 ip address 30.0.0.2 255.255.255.0
 negotiation auto
 ipv6 address C1::2/64
 ipv6 eigrp 1
interface Serial0/1/0
 no ip address
 shutdown
interface Serial0/1/1
 no ip address
 shutdown
interface Service-Engine0/2/0
interface GigabitEthernet0
 vrf forwarding Mgmt-intf
 no ip address
 shutdown
 negotiation auto
router eigrp 1
 network 30.0.0.0 0.0.0.255
 network 30.1.0.0 0.0.0.255
 eigrp router-id 3.3.3.2
ip forward-protocol nd
ip http server
ip http authentication local
ip http secure-server
ip tftp source-interface GigabitEthernet0
ipv6 router eigrp 1
 eigrp router-id 3.3.3.2
control-plane
banner motd ^CUnauthorized access is lowk illegal^C
line con 0
 transport input none
 stopbits 1
line aux 0
 stopbits 1
line vty 0 4
 login
end
