hostname Prime-1
no ip domain lookup
ipv6 unicast-routing
interface GigabitEthernet0/0/0
 ip address 30.0.0.1 255.255.255.0
 negotiation auto
 ipv6 address C1::1/64
 ipv6 eigrp 1
interface GigabitEthernet0/0/1
 ip address 20.3.0.1 255.255.255.0
 negotiation auto
 ipv6 address B4::1/64
interface Serial0/1/0
 no ip address
 shutdown
interface Serial0/1/1
 no ip address
 shutdown
interface GigabitEthernet0
 vrf forwarding Mgmt-intf
 no ip address
 shutdown
 negotiation auto
router eigrp 1
 network 30.0.0.0 0.0.0.255
 redistribute connected
 redistribute bgp 3 metric 10 10 255 255 1
 eigrp router-id 3.3.3.1
router bgp 3
 bgp router-id 3.3.3.1
 bgp log-neighbor-changes
 neighbor B4::2 remote-as 2
 neighbor 20.3.0.2 remote-as 2
 address-family ipv4
  redistribute connected metric 10
  redistribute eigrp 1 metric 10
  no neighbor B4::2 activate
  neighbor 20.3.0.2 activate
 exit-address-family
 address-family ipv6
  redistribute connected metric 10
  redistribute eigrp 1 metric 10
  neighbor B4::2 activate
 exit-address-family
ip forward-protocol nd
ip http server
ip http authentication local
ip http secure-server
ip tftp source-interface GigabitEthernet0
ipv6 router eigrp 1
 eigrp router-id 3.3.3.1
 redistribute connected
 redistribute bgp 3 metric 10 10 255 255 1
control-plane
banner motd ^CUnauthorized access is lowk illegal^C
line con 0
 transport input none
 stopbits 1
line aux 0
 stopbits 1
line vty 0 4
 login
end
